@import 'slick-carousel/slick/slick-theme.css';

body {
	margin: 0;
}

.rectangle {
	width: 100%;
	padding: 20px;
	display: flex;
}

.logo {
	width: 50px;
	margin-left: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./logo.svg);
}
