@import (css) 'https://fonts.googleapis.com/css?family=Open+Sans';

@import (inline) 'slick-carousel/slick/slick-theme.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'slick-carousel/slick/slick-theme.less';
@import 'lesshat/lesshat';

@import (less) './common.css';
@import (css) './less-as-css.less';

@font-face {
  font-family: 'Open Sans';
  src: url('./open_sans_400_normal.woff2') format('woff2');
  font-weight: 400;
}

.less {
	.box-shadow(0 0 10px 3px magenta);
	.rectangle;
	font-family: slick, 'Open Sans', arial, sans-serif;
	background-color: dodgerblue;
}

.encoded-url {
	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
