language: node_js
os:
- linux
- osx
node_js:
- 8
- 10
branches:
  except:
    - /^feature/
deploy:
  provider: npm
  on:
    tags: true
  skip_cleanup: true
  email:
    secure: wzmyGE2lH4oluf2z0/FBtgBAS8RUeJz5nXHySxb2AqrwzgxQBmKW0O72+uLKk5IK9c/ehzw2Z+3QytotD2qWhENMcueftKqcikqzlVIytzmRt1qtC7D3rGriNTY1+tYyhT72Dn5/6ezknjQ0aI7e3FDCvskbhaMyZP41+se1wNdsnhNJKtGFLy2j4q5DmVlX15eH2f44QBvsWkWNTq84MjEyQb7gLleat6pz2CnSe/cf2opDoS0R2j22YKLvEDa1aoMOK8ECBVN/YvxeED6T2e5vAN0v8qI0o7X2JdLPXpAXHWrtt2rwy4c7cOZCeAQf49zlxWO6HnMwHGzvLDfS2j2kw1uz8Hsj/ykiwMQyc1+c5d7sfJvuIayNGaxN+tjMe7v9GYdVn2dlhR/oRkTesZqE///lJUBsNgnv5YJvPX3Jj2yjgP5bWUUFLunvvezCCcElKzghYh/eu2IW4y3bmL5V9z5zZsNsIYXG3zyWtlwcG9Z/zaN45VRI+Io5aW0oJVAWDUei1znBzMHiyHpXBdPUitONIOae4H3rNuyvKU5yxoCui5keOQs9R5hS/snvP7Y9YEozB5nq2OFKn/vMQVX8MKuBU+cc5xeKZLOX348gpUWQyWlDsqeIOEjYtNDzaguT7TrP5adGz2L7lop8S1XaHR+xj3nDV0hdXwCk1Bk=
  api_key:
    secure: wh89WA5nTLi8QHCidIFdaUEw2gSL8huxCxa4EUNigUT+Zu0H5lr/SDWSOsmCdhhb1tdtRBLK0pQDFN15SkRmENNQyXlJ1IanZg87o5szro7sPMl94qzr2Xf0B0lM1AEj1xm7qBxOC8O8scYCzGtTwN8fMzNJcQyzE2YShRZkneUDN5YHZHz0/5DdopK58Ydf/dM/FjvKHEBgAqlIgAJnpf5lcyZHVYYsXlFmpuEqKOSuVE4C68JiqeI9ojiZnvYKqCOzsrSGGficXX+3+tGg/rJs/bdJPUW4/gyZaMtWzlHhDLmSY1n/Z1eddNqtBWK4JwWrm6oYPNjnMNVGSAkmyTNbls+2ygsDIAgWN8wJPYNoYERkeU67V8WIcPCP81osyljrFHhruFBwT5JYOXvQEuBW2u0kfXPIOV8CrKbUCd9qmxshfwvcLB/BxA8zPRN2M4ZdwRUMtge7eizVPY7SWVOclfSMCZFhrRIA5HyUYygpBT8d+LDQZ88I1PvIc8v5n0izM+3xuuy2THyW7vWKZvE6fFnNF3iaYKySwHB3NUoGUbIRNIUWGfT3zpqZfMSDLIqZXVlCj507vC6duzt74lZt6g6lhZ570oBPfXHvCX5TjRXioOAJKlKvb1RxwjIiNjRRieRrMrtb1EDLv0Lx7JqIod1H74Jj23youBjGfb0=
