.no-attributes {
	background-image: url(./images/stylesheet-href.gif);
}

.href {
	background-image: url(<href>./images/stylesheet-href.gif);
}

.static {
	background-image: url(<static>./images/stylesheet-static.gif);
}
